/* для страниц что связаны со списком каких то панелек */

.boxes {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.box {
    width: 15%;
    /* min-height: 600px; */
    /* height: 525px; */
    background-color: #f2f2f2;
    margin: 10px 10px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.box_heading {
    min-height: 50px;
    overflow: hidden;
}

.box p {
    margin: 5px;
}